    {{#each events}}
    <div class="event-container">
        <img src="{{img}}" />

        <h3>
            <a href="/{{_id}}">
                {{name}}
            </a>
        </h3>


        <button>Edit Event</button>



    </div>
    {{/each}}
    <br>
    <br>
<a href="../events/new"><button>Create New Event</button></a> 
</main>