<h1>Events Show</h1>
<p> </p>


    {{#each events}}
    <div >
        

        <h3>
            
                {{user.events}}
            
        </h3>


        <button>Edit Event</button>



    </div>
    {{/each}}
    <br>
    <br>
<a href="/events/new"><button>Create New Event</button></a> 
</main>