body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(254, 254, 254);
  
  /* background-image: url(/Images/dramaticClosetDark.png); */
  background-size: cover;
  background-repeat: no-repeat;
}
#bodyColor{
  background-color: rgba(0, 0, 0, 0.29);
  color: rgb(254, 254, 254);
  text-shadow: 1px 1px 1px black;

}
.nav{
  display: inline-flex;
  justify-content: space-around;
  background-color: rgba(60, 60, 60, 0.591);
  border-radius: 5px;
  border: inset;
}
#h2Text, #h1Text{

}

a {
  color: #00B7FF;
}
