body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(254, 254, 254);
  /* background-image: url(/Images/dramaticClosetDark.png); */
  background-size: cover;
  background-repeat: no-repeat;
  /* z-index: 1;
  position: absolute; */
}
#bodyColor{
  background-color: rgba(0, 0, 0, 0.29);
  color: rgb(254, 254, 254);
  text-shadow: 1px 1px 1px black;
}

#h4Text{
z-index: 100;
position: absolute;
}

#enterBtn{
  z-index: 100;
  position: absolute;
  margin-top: 5%;

  }

#doorLeft{
  display: block;
  z-index: 2;
  position: absolute;
  margin-left: 0%;
  margin-top: -10%;
  width: 100vw;
  height: 100vh;
  margin-left: -5%;
  margin-top: -14%;
  animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-play-state: paused;
}
#doorLeft:active{
  animation-play-state: running;

}

@keyframes slide-left {
  0% {
  transform: translateX(0);
  }
  100% {
 transform: translateX(-800px);
  }
}

#doorRight{  
  display: block;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: -5%;
  margin-top: -14%;
  animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-play-state: paused;
}

@keyframes slide-right {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(800px);
  }
}

.nav{
  display: inline-flex;
  justify-content: space-around;
  /* background-color: rgba(60, 60, 60, 0.228); */
  border-radius: 5px;
  /* border: inset 2px; */
  z-index: 10;
  position: relative;
}

a {
  color: #00B7FF;
}
