<div class="doors">
    <h4 id="h4Text">Equipment</h4>
    <h4 id="h4Text2">Room</h4>


    {{!-- added images for slide animation --}}
    <img src="/images/doorLeft.png" id="doorLeft" alt="left door">
    <img src="/images/doorRight.png" id="doorRight" alt="right door">

</div>