<div class="doors">
    <h4 id="h4Text">Welcome to {{title}}</h4>
    <button id="enterBtn">Click to Enter</button>
    <img src="/images/doorLeft.png" id="doorLeft" alt="left door">
    <img src="/images/doorRight.png" id="doorRight" alt="right door">
</div>
