<main id="h2Text">

    <h3>Add New Equipment!</h3>


        <form action="/equipments/{{equipments_.id}}" method="POST">
            <div>
                <label for="name">name: </label>
                <input type="text" name="name" >
            </div>
            <div>
                <label for="image">image: </label>
                <input type="text" name="image" >
            </div>
 <br>
            <button type="submit">Add New Equipment</button>
        </form>

</main>