<main>


  <h2>Available {{equipment.name}} </h2>
  <h2>{{equipment.available}}</h2>

  



    <br>
    <br>
  <form action="/equipments/{{equipment._id}}/edit" method="PATCH">
    <button>Edit Equipment</button>
</form>
<br>
<a href="/equipments"><button>Back to list</button></a>
</main>