<main>


  <h2>Available {{equipment.name}} </h2>
  <h2>quantity: {{equipment.available}}</h2>
  <img src="{{equipment.image}}">




  <br>
  <br>
  <form action="/equipments/{{equipment._id}}/edit" method="PATCH">
    <button class="btn btn-primary">Edit Equipment</button>
  </form>
  <br>
  <a href="/equipments"><button class="btn btn-secondary">Back to list</button></a>
</main>