<h1>{{title}}</h1>
<main>

  <h1>New User Profile</h1>
  <h2>Sign Up</h2>

  <form action="/users/{{users_.id}}" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</main>