<h1>{{title}}</h1>
<main>

    <h2>Edit User Profile</h2>

  <a href="/">🏠</a>

  <div id="edit-form" class="container-show">

    <form action="/" method="POST">
      <div>
        <label for="name">name: </label>
        <input type="text" name="name">
      </div>
      <div>
        <label for="description">description: </label>
        <input type="text" name="description">
      </div>
      <div>
        <label for="img">img: </label>
        <input type="text" name='img'>
      </div>
      <div>
        <label for="price">price: </label>
        <input type="number" name="price">
      </div>
      <div>
        <label for="qty">qty: </label>
        <input type="number" name="qty">
      </div>
      <button type="submit">Create New Donut</button>
    </form>

  </div>
</main>